@primary-color: #182C61;
@secondary-color: #44bd32;
@hover-color: #4cd137;
@background-color: #f5f6fa;

@header-padding: 16px;
@product-border-radius: 16px;
@product-button-radius: 8px;
@product-gap: 4%;
@product-item-width: 100%;
@container-max-width: 1024px;
